@using CodeCur.Models.ViewModels
@model CreateFileViewModel
@{
    ViewBag.Title = "CreateFile";
}

<div class="new-input-container">
    @using (Html.BeginForm("CreateFile", "Home", FormMethod.Post, new { @class = "new-input-form form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h2>Create new File</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" });
        <div class="new-input-form-group">
            @Html.LabelFor(m => m.Name, new { @class = ""})
            <div>
                @Html.TextBoxFor(m => m.Name, new { @class = "", @placeholder = "Name of File" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="new-input-form-group">
            <div>
                @Html.LabelFor(m => m.FileType, new { @class = "" })
                <div class="dropdown">
                    @Html.DropDownListFor(x => x.FileType, new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "JavaScript", Value="JavaScript"},
                        new SelectListItem() {Text = "HTML", Value="HTML"},
                        new SelectListItem() {Text = "CSS", Value="CSS"},
                        new SelectListItem() {Text = "Text", Value="txt"},
                    })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.ProjectID)
        <div class="new-input-form-group">
            <div>
                @Html.ActionLink("Cancel", "Index", "Home", new { @class = "new-input-cancel-button" })
                <input type="submit" value="Create" class="new-input-button" />
            </div>
        </div>
    }
</div>