@using CodeCur.Models.ViewModels
@model ShareProjectViewModel
@{
    ViewBag.Title = "Share";
}

<div class="new-input-container">
    @using (Html.BeginForm("ShareProject", "Home", FormMethod.Post, new { @class = "new-input-form form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Share project</h2>
        <div class="new-input-form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "" })
            <div>
                @Html.ValidationMessage("shareError", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "", @placeholder = "The user you want to share with", @autofocus = "autofocus" })
            </div>
        </div>
        @Html.HiddenFor(m => m.ProjectID)
        <div class="new-input-form-group">
            <div>
                @Html.ActionLink("Cancel", "Project", "Home", new { id = Model.ProjectID }, new { @class = "new-input-cancel-button" })
                <input type="submit" value="Share" class="new-input-button" />
            </div>
        </div>
    }
</div>

